header
{
    display: flex;
    justify-content: space-around;
}
.brandlogo
{
 height: 4rem;

}
main
{
    justify-content: center;
}
.categories-title
{
    text-align: center;
}
.subcategories>ul>li
{
    list-style: none;
}
.subc1
{
    display: flex;
    justify-content: space-evenly;
}