*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.searchbar {
    border: 1px solid black;
    width: 40%;
    height: 40px;
    padding: 10px;
    margin: 20px 20px;
}

.searchbar input {
    border: none;
    outline-style: none;
    font-size: 15px;
    width: 600px;
}

.search-btn {
    float: right;
}

.acc-cart span {
    color: #EA591C;
    font-size: 40px;
    margin: 20px 20px;
}

.logo img {
    padding-top: 0;
    margin-top: 0;
    margin-right: 20px;
    padding-left: 80px;
    width: 250px;
    height: 80px;
}
body
{
    margin:0px;
}
main
{
    justify-content: center;
}
.banner_img
{
    background-image: url("assets/img/Wallpaper.jpg");
    background-size: cover;
}
.categories-title
{
    text-align: center;
}
.subcategories>ul>li
{
    list-style: none;
}
.subc1
{
    display: flex;
    justify-content: space-evenly;
}
.title
{
    text-align: center;
}
footer
{
    border-top: 1px solid black;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.text-muted
{
    margin-left: 0.5rem;
}
.link
{
    display: flex;
}
.section
{
    margin-right: 0.5rem;
}